<h1>welcome</h1>

<p>This is the landing page for crumble , a blog made using 
ruby on rails </p>

<p>This page is just a placeholder. later on, we'll replace
	it with the posts in our blog.

	This page is just a placeholder. later on, we'll replace
	it with the posts in our blog.

	This page is just a placeholder. later on, we'll replace
	it with the posts in our blog.
	This page is just a placeholder. later on, we'll replace
	it with the posts in our blog.

</p>

